header {
  @include box(100%,59px,$main-color);

  .header-wrap{
    @include box(608px,100%,transparent);
    display: flex;
    margin: 0 auto;
    padding-top: 20px;

    a.header-logo {
      @include box(78px,26px,transparent);
      display: inline-block;
      margin: 0 auto;

      img {
        width: 100%;
        height: 100%;
      }
    }

    a.header-right {
      @include box(20px,22px,transparent);
      display: inline-block;
      margin-left: auto;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
